@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap');

$ff-s: 'Merriweather', serif;
$ff-ss: "Six Cap", sans-serif;

$fw-n: 400;
$fw-b: 900;

$letter-spacing: 10px;