@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap');

body{
    color: #C6DDCB;
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background: #FFFF;
}

h1 {
    color: #5D007D;
    line-height: 1;
    font-size: 3.125rem;

}

span{
    color: #5d007d;
    font-family: "Six Cap", sans-serif;
    display: block;
    font-size: 5.5rem;
    letter-spacing: 10px;
}

h2 {
    color: #606060;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 10px;
}